.gallery {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 25%;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background: #000;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

@media only screen and (min-width: 768px) {
  .image {
    width: 20%;
  }
}